.indicadores {
  text-align: center;
}

.cards-indicadores {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.historico {
  display: flex;
  flex-direction: column;
  gap: 20px;
}