.btn-nav {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  background: white;
  cursor: pointer;
}

.btn-primary {
  padding: 10px 16px;
  border-radius: 10px;
  background: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
}

.card-ideia {
  background: white;
  padding: 20px;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-indicador {
  background: white;
  padding: 20px;
  border-radius: var(--radius);
  text-align: center;
}

.container-cabealho-princip {
width: 100%;
height: 62px;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;
text-align: center;
font-size: var(--fs-20);
color: var(--color-darkblue);
font-family: var(--font-arimo);
}
.logo {
height: 60px;
width: 231px;
}
.nav{
  	height: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-nav {
  	height: 34.4px;
    position: relative;
    box-shadow: 3px 2px 8px rgba(54, 54, 54, 0.25);
    border-radius: 10px;
  	background-color: #FFFFFF;
  	border: 0.5px solid var(--color-silver);
  	box-sizing: border-box;
    width: 140px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 10px;
  	gap: 11px;
    
}
.icon-incio {
  	height: 21.5px;
  	width: 21.5px;
  	position: relative;
}
.incio {
position: relative;
line-height: 20px;
}
.boto-minhas-ideias {
box-shadow: var(--shadow-drop);
border-radius: var(--br-8);
background-color: var(--color-gray);
border: 0.2px solid var(--color-silver);
display: flex;
align-items: center;
justify-content: center;
padding: var(--padding-6) 8px var(--padding-6) var(--padding-6);
gap: 5px;
cursor: pointer;
}
.icon-minhas-ideias {
height: 23px;
width: 23px;
position: relative;
object-fit: cover;
}
.indicadores {
width: 100%;
position: relative;
box-shadow: 0px 3px 8px 7px #e5e4fe;
background-color: var(--color-whitesmoke);
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 84px 0px 36px;
box-sizing: border-box;
isolation: isolate;
gap: 88px;
text-align: center;
font-size: 60px;
color: var(--color-ghostwhite);
font-family: var(--font-inter);
}
.minhas-ideias {
width: 100%;
position: relative;
font-size: 20px;
left: 10px;
line-height: 300%;
display: inline-block;
font-family: var(--font-inter);
background: linear-gradient(90.39deg, #000285, #000285 0.01%, #00028c 13.75%, #0301a9 42%, #0500bf 56.5%, #0a00c5 65%, #0d00c8 69.25%, #0f00cb 73.5%, #1000ce 76.13%, #1100d0 78.75%, #1200d3 81.38%, #1300d6 84.01%, #1700df 90.5%, #1b00db 95.24%, #2300f9 99.98%, #1e00d6 99.99%, #0b00c6 99.99%, #1700df 99.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}
.subttulo {
width: 889px;
height: 42px;
position: absolute;
margin: 0 !important;
top: 173px;
left: 520px;
z-index: 1;
font-size: 25px;
}
.subttulo-child {
position: absolute;
top: 0px;
left: 0px;
border-radius: 20px;
background: var(--gradient-1);
width: 883.7px;
height: 42px;
}
.rectangle-div {
width: 100%;
height: 42px;
position: absolute;
margin: 0 !important;
top: 0px;
left: -40px;
border-radius: 20px;
background: linear-gradient(90.39deg, #000285, #000285 0.01%, #00028c 13.75%, #0301a9 42%, #0500bf 56.5%, #0a00c5 65%, #0d00c8 69.25%, #0f00cb 73.5%, #1000ce 76.13%, #1100d0 78.75%, #1200d3 81.38%, #1300d6 84.01%, #1700df 90.5%, #1b00db 95.24%, #2300f9 99.98%, #1e00d6 99.99%, #0b00c6 99.99%, #1700df 99.99%);
}

.acompanhe-o-status {
width: 889px;
height: 21.8px;
position: absolute;
margin: 0 !important;
top: 9px;
left: 0px;
font-size: 25px;
line-height: 80%;
font-weight: 400;
font-family: var(--font-inter);
color: ghostwhite;
text-align: center;
display: inline-block;
}
.resumo-do-desafio {
width: 100%;
height: 2108px;
position: relative;
overflow: hidden;
flex-shrink: 0;
display: flex;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
align-content: flex-start;
padding:  30.9px 14px 30.9px 10px;
box-sizing: border-box;
gap: 41.2px 32px;
text-align: center;
font-size: var(--fs-16);
color: var(--color-navy);
font-family: var(--font-inter);
}
.composio-grupos {
height: 135px;
width: 220px;
position: relative;
box-shadow: 2.22920560836792px 5.350094795227051px 14px 1px rgba(4, 93, 81, 0.3);
border-radius: 22.29px;
background-color: var(--color-white);
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
padding: 25.7px 6.5px;
box-sizing: border-box;
gap: 21.6px;
text-align: center;
font-size: 16px;
color: var(--color-navy);
font-family: var(--font-inter);
}
.total-de-ideias {
position: relative;
font-weight: 600;
flex-shrink: 0;
}
.div {
width: 32px;
position: relative;
font-size: 36px;
color: var(--color-darkblue);
text-align: left;
display: inline-block;
flex-shrink: 0;
}

.histrico {
width: 100%;
height: 747px;
position: relative;
box-shadow: 0px 3px 8px 7px #e5e4fe;
background-color: var(--color-whitesmoke);
overflow-y: auto;
display: flex;
flex-direction: column;
align-items: center;
padding: 27px 86px;
box-sizing: border-box;
gap: 9px;
text-align: left;
font-size: 36px;
color: var(--color-darkblue);
font-family: var(--font-inter);
}
.histrico-de-submisses {
align-self: stretch;
position: relative;
line-height: 116%;
background: linear-gradient(90.39deg, #000285, #000285 0.01%, #00028c 13.75%, #0301a9 42%, #0500bf 56.5%, #0a00c5 65%, #0d00c8 69.25%, #0f00cb 73.5%, #1000ce 76.13%, #1100d0 78.75%, #1200d3 81.38%, #1300d6 84.01%, #1700df 90.5%, #1b00db 95.24%, #2300f9 99.98%, #1e00d6 99.99%, #0b00c6 99.99%, #1700df 99.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
flex-shrink: 0;
}
.visualize-a-ideia {
align-self: stretch;
position: relative;
font-size: 30px;
line-height: 116%;
flex-shrink: 0;
}
.resumo-do-desafio2 {
width: 1438px;
height: 2108px;
overflow: hidden;
flex-shrink: 0;
display: flex;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
align-content: flex-start;
padding: 30.9px 14px 30.9px 10px;
box-sizing: border-box;
gap: 41.2px 32px;
text-align: center;
font-size: var(--fs-16);
color: var(--color-navy);
}
.rascunho-inscrio-ideia-salvo {
height: 101px;
width: 1219px;
position: relative;
box-shadow: 2.22920560836792px 5.350094795227051px 14px 1px rgba(4, 93, 81, 0.3);
border-radius: 22.29px;
background-color: var(--color-white);
overflow: hidden;
flex-shrink: 0;
}
.ttulo-da-ideia {
position: absolute;
top: 36.13px;
left: 40px;
font-size: 24px;
font-weight: 600;
flex-shrink: 0;
}
.status-rascunho {
position: absolute;
top: 42.13px;
left: 249px;
font-weight: 600;
flex-shrink: 0;
}
.data-da-ltima {
position: absolute;
top: 42.13px;
left: 452px;
font-weight: 600;
flex-shrink: 0;
}
.boto-ver-detalhes {
position: absolute;
top: 27.13px;
left: 860px;
width: 358px;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
}
.boto-ver-detalhes-child {
align-self: stretch;
height: 43px;
position: relative;
border-radius: var(--br-15);
background-color: var(--color-white);
}
.ver-detalhes {
position: absolute;
top: 36.13px;
left: 967px;
font-size: 18px;
line-height: 116%;
display: inline-block;
color: var(--color-darkblue);
width: 141px;
height: 25px;
flex-shrink: 0;
}
.banner-logo-impulso-rodap {
height: 460px;
width: 1445px;
position: relative;
border-radius: var(--br-15);
background: linear-gradient(132.94deg, #d3ce33, #e57a63 13.94%, #633bbc 62.5%, #1a34ea);
overflow: hidden;
flex-shrink: 0;
}
.logo-impulso {
position: absolute;
top: 122px;
left: 123px;
width: 1202px;
height: 288.3px;
}
.microsoftteams-image-160-1 {
position: absolute;
width: 100%;
top: 0px;
right: 0%;
left: 0%;
max-width: 100%;
overflow: hidden;
height: 288.3px;
object-fit: cover;
}
.logo-impulso-child {
position: absolute;
height: 33.99%;
width: 8.63%;
top: 26.05%;
right: 43.46%;
bottom: 39.96%;
left: 47.91%;
box-shadow: 0px 13.06338119506836px 13.06px rgba(0, 0, 0, 0.25);
max-width: 100%;
overflow: hidden;
max-height: 100%;
}
