* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f9fafb;
  line-height: normal;
}

:root {

  --color-primary: #0606a6;
  --color-white: #fff;
  --color-gray: #e5e7eb;

  --color-darkblue: #0606a6;
  --color-navy: #001c99;
  --color-white: #fff;

  --radius: 12px;

  /* Font */
 --font-inter: Inter;
 /* FontSize */
 --fs-16: 16px;
}
